interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roles?api-version=2020-02-01-preview
  response:
    body:
      string: '{"value":[{"id":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78","name":"Workspace
        Admin","isBuiltIn":true},{"id":"c3a6d2f1-a26f-4810-9b0f-591308d5cbf1","name":"Apache
        Spark Admin","isBuiltIn":true},{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","name":"Sql
        Admin","isBuiltIn":true}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roles/7af0c69a-a548-47d6-aea3-d00e69bd83aa?api-version=2020-02-01-preview
  response:
    body:
      string: '{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","name":"Sql Admin","isBuiltIn":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/users/shangsu%40microsoft.com?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.User","objectType":"User","objectId":"6ae2ff4b-4939-4952-a097-d234aad383a3","deletionTimestamp":null,"accountEnabled":true,"ageGroup":null,"assignedLicenses":[{"disabledPlans":["b21a6b06-1988-436e-a07b-51ec6d9f52ad","531ee2f8-b1cb-453b-9c21-d2180d014ca5","bf28f719-7844-4079-9c78-c1307898e192","28b0fa46-c39a-4188-89e2-58e979a6b014","199a5c09-e0ca-4e37-8f7c-b05d533e1ea2","65cc641f-cccd-4643-97e0-a17e3045e541","e26c2fcc-ab91-4a61-b35c-03cdc8dddf66","46129a58-a698-46f0-aa5b-17f6586297d9","6db1f1db-2b46-403f-be40-e39395f08dbb","6dc145d6-95dd-4191-b9c3-185575ee6f6b","41fcdd7d-4733-4863-9cf4-c65b83ce2df4","2f442157-a11c-46b9-ae5b-6e39ff4e5849","c4801e8a-cb58-4c35-aca6-f2dcc106f287","0898bdbb-73b0-471a-81e5-20f1fe4dd66e","617b097b-4b93-4ede-83de-5f075bb5fb2f","33c4f319-9bdd-48d6-9c4d-410b750a4a5a","8e0c0a52-6a6c-4d40-8370-dd62790dcd70","4828c8ec-dc2e-4779-b502-87ac9ce28ab7","3e26ee1f-8a5f-4d52-aee2-b81ce45c8f40"],"skuId":"c7df2760-2c81-4ef7-b578-5b5392b571df"},{"disabledPlans":[],"skuId":"9f3d9c1d-25a5-4aaa-8e59-23a1e6450a67"},{"disabledPlans":[],"skuId":"26a18e8f-4d14-46f8-835a-ed3ba424a961"},{"disabledPlans":[],"skuId":"412ce1a7-a499-41b3-8eb6-b38f2bbc5c3f"},{"disabledPlans":["39b5c996-467e-4e60-bd62-46066f572726"],"skuId":"90d8b3f8-712e-4f7b-aa1e-62e7ae6cbe96"},{"disabledPlans":[],"skuId":"c5928f49-12ba-48f7-ada3-0d743a3601d5"},{"disabledPlans":[],"skuId":"b05e124f-c7cc-45a0-a6aa-8cf78c946968"},{"disabledPlans":["e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72"],"skuId":"09015f9f-377f-4538-bbb5-f75ceb09358a"},{"disabledPlans":[],"skuId":"488ba24a-39a9-4473-8ee5-19291e71b002"},{"disabledPlans":["0b03f40b-c404-40c3-8651-2aceb74365fa","b650d915-9886-424b-a08d-633cede56f57","e95bec33-7c88-4a70-8e19-b10bd9d0c014","5dbe027f-2339-4123-9542-606e4d348a72","fe71d6c3-a2ea-4499-9778-da042bf08063","fafd7243-e5c1-4a3a-9e40-495efcb1d3c3"],"skuId":"ea126fc5-a19e-42e2-a731-da9d437bffcf"}],"assignedPlans":[{"assignedTimestamp":"2020-07-26T08:53:26Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"fe71d6c3-a2ea-4499-9778-da042bf08063"},{"assignedTimestamp":"2020-07-26T08:53:26Z","capabilityStatus":"Enabled","service":"exchange","servicePlanId":"199a5c09-e0ca-4e37-8f7c-b05d533e1ea2"},{"assignedTimestamp":"2020-07-26T08:53:26Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"e95bec33-7c88-4a70-8e19-b10bd9d0c014"},{"assignedTimestamp":"2020-07-26T08:53:26Z","capabilityStatus":"Enabled","service":"SharePoint","servicePlanId":"5dbe027f-2339-4123-9542-606e4d348a72"},{"assi[...]
- request:
    body: '{"roleId": "7af0c69a-a548-47d6-aea3-d00e69bd83aa", "principalId": "6ae2ff4b-4939-4952-a097-d234aad383a3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview
  response:
    body:
      string: '{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roleAssignments/7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3?api-version=2020-02-01-preview
  response:
    body:
      string: '{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview&roleId=7af0c69a-a548-47d6-aea3-d00e69bd83aa
  response:
    body:
      string: '[{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-4220bdc6-eeb9-4d66-ad6c-e69ba449d9c7","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"4220bdc6-eeb9-4d66-ad6c-e69ba449d9c7"},{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-continuation:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roleAssignments?api-version=2020-02-01-preview&principalId=6ae2ff4b-4939-4952-a097-d234aad383a3
  response:
    body:
      string: '[{"id":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"6e4bf58a-b8e1-4cc3-bbf9-d73143322b78","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"},{"id":"c3a6d2f1-a26f-4810-9b0f-591308d5cbf1-23a9b13a-a58b-4d8e-a58a-ff4c351fae61","roleId":"c3a6d2f1-a26f-4810-9b0f-591308d5cbf1","principalId":"23a9b13a-a58b-4d8e-a58a-ff4c351fae61"},{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-4220bdc6-eeb9-4d66-ad6c-e69ba449d9c7","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"4220bdc6-eeb9-4d66-ad6c-e69ba449d9c7"},{"id":"c3a6d2f1-a26f-4810-9b0f-591308d5cbf1-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"c3a6d2f1-a26f-4810-9b0f-591308d5cbf1","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"},{"id":"7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3","roleId":"7af0c69a-a548-47d6-aea3-d00e69bd83aa","principalId":"6ae2ff4b-4939-4952-a097-d234aad383a3"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-continuation:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fshangwei-sp%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"23a9b13a-a58b-4d8e-a58a-ff4c351fae61","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"shangwei-sp","appId":"f14b9779-ec77-4b91-bdac-043b8336d101","applicationTemplateId":null,"appOwnerTenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"shangwei-sp","errorUrl":null,"homepage":"https://shangwei-sp","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access shangwei-sp on behalf of the signed-in user.","adminConsentDisplayName":"Access
        shangwei-sp","id":"3edfc4af-7c63-40ef-9b8b-2a57cc936c95","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access shangwei-sp on your behalf.","userConsentDisplayName":"Access
        shangwei-sp","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"Microsoft","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["http://shangwei-sp","f14b9779-ec77-4b91-bdac-043b8336d101"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '345095'
      ocp-aad-diagnostics-server-name:
      - mWUJuGpqapy7ttNC0UGCYze0snyn43E3dkj6imYiFHg=
      ocp-aad-session-key:
      - Wsnm1qa93hQhVYv0_qPQh9Sr4anYCQjkMS2xO6BLY4ZG0FfUZmM5SzkinhrHJNUAVQv76IsIiqfySXCcLdLOlRQsjunZwnxT2XNHs6bbHuUEevUalkerLSnC3NpDP9Ur.01fceEnCNFX1_Fx3EIZ7_qCSkHAC837pvhqZRG-7RYg
      x-ms-dirapi-data-contract-version:
      - '1.6'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://shangweiworkspacecli.dev.azuresynapse.net/rbac/roleAssignments/7af0c69a-a548-47d6-aea3-d00e69bd83aa-6ae2ff4b-4939-4952-a097-d234aad383a3?api-version=2020-02-01-preview
  response:
    body:
      string: '{"error":{"code":"RoleAssignmentNotFound","message":"RoleAssignmentNotFound"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
